*.substvars
*debhelper*
.debhelper
configure.dist
files
helpztags.1
tiny/vimrc.tiny
tmp
tmplogo.pdf
tmplogo.ps
vim
vim-athena
vim-common
vim-common.install
vim-doc
vim-gtk3
vim-gtk3.install
vim-gtk3.maintscript
vim-gtk3.postinst
vim-gtk3.prerm
vim-gui-common
vim-motif
vim-motif.install
vim-motif.maintscript
vim-motif.postinst
vim-motif.prerm
vim-nox
vim-nox.install
vim-nox.maintscript
vim-nox.postinst
vim-nox.prerm
vim-runtime
vim-runtime.links
vim-runtime.postrm
vim-runtime.preinst
vim-tiny
vim-tiny.install
vim-tiny.maintscript
vim-tiny.postinst
vim-tiny.prerm
vim.install
vim.maintscript
vim.postinst
vim.prerm
xxd
